<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/index.css" type="text/css">
</head>
<body>

<div class="page">

    <header class="headline page__header">

        <span class="headline__logo-text">Messenger</span>

        <div class="headline__auth">
            <a class="auth-button _sign-up" href="register.page.html">Sign Up</a>
            <a class="auth-button _sign-in" href="login.page.html">Sign In</a>
        </div>

    </header>





</div>

</body>
</html>