<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/index.css" type="text/css">
    <script src="../scripts/messenger.js" type="module"></script>
</head>
<body>

    <div class="page">

        <div class="modal page__modal _show" data-modal="add-contact">

            <form class="modal__content modal-content">

                <h6 class="modal-content__title">
                    Contact
                </h6>


                <div class="input-field modal-content__input">
                    <input id="add-contact-username" type="text" class="input-field__input" placeholder=" ">
                    <label for="add-contact-username" class="input-field__label">Username</label>
                </div>

                <button type="submit"
                        class="modal-content__button modal-button _green"
                >
                    Add
                </button>
                <button type="button"
                        class="modal-content__button modal-button _red"
                        onclick="toggleModal(event)"
                >
                    Close
                </button>


            </form>

        </div>

        <header class="headline page__header">

            <span class="headline__logo-text">Messenger</span>

            <div class="headline__auth">
                <a class="go-back-button" href="login.page.html">Logout</a>
            </div>

        </header>

        <main class="page__messenger">

            <div class="messenger">

                <section class="messenger__menu messenger-menu">

                    <div class="messenger-menu__chats-and-contacts chats-and-contacts">

                        <header class="chats-and-contacts__header tabs-list">
                            <div class="tabs-list__tab _active">Contacts</div>
                            <div class="tabs-list__tab">Chats</div>
                        </header>

                        <div class="chats-and-contacts__list list">

                        </div>

                        <footer class="chats-and-contacts__footer">
                            <button class="add-button">
                                Add contact
                            </button>
                        </footer>

                    </div>

                </section>

                <section class="messenger__chat messenger-chat">
a


                </section>

            </div>


        </main>

    </div>

</body>
</html>