<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/index.css" type="text/css">
    <script src="../scripts/messenger.js" type="module"></script>
</head>
<body>

    <div class="page">

        <header class="headline page__header">

            <span class="headline__logo-text">Messenger</span>

            <div class="headline__auth">
                <a class="go-back-button" href="login.page.html">Logout</a>
            </div>

        </header>

        <main class="page__messenger">

            <div class="messenger">

                <section class="messenger__menu messenger-menu">

                    <div class="messenger-menu__chats-and-contacts chats-and-contacts">

                        <header class="chats-and-contacts__header tabs-list">
                            <div class="tabs-list__tab _active">Contacts</div>
                            <div class="tabs-list__tab">Chats</div>
                        </header>

                        <div class="chats-and-contacts__list list">

                        </div>

                        <footer class="chats-and-contacts__footer">
                            <button class="add-button">
                                Add contact
                            </button>
                        </footer>

                    </div>

                </section>

                <section class="messenger__chat messenger-chat">

                    <header class="conversation-header messenger-chat__header">
                        <div class="conversation-header__title">
                            Title
                        </div>

                        <div class="conversation-header__menu">
                            <button class="go-back-button">
                                Leave
                            </button>
                        </div>
                    </header>

                    <section class="messages-list messenger-chat__messages-list">

                        <div class="message _own">
                            <div class="message__owner-name">
                                wonslaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaeved
                            </div>

                            <div class="message__content">
                                anjefknaefjaeaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            </div>

                            <div class="message__date">
                                18.03.2022 17:10
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__owner-name">
                                fedor
                            </div>

                            <div class="message__content">
                                anjefknaefjaeaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            </div>

                            <div class="message__date">
                                18.03.2022 17:10
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__owner-name">
                                fedor
                            </div>

                            <div class="message__content">
                                anjefknaefjaeaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            </div>

                            <div class="message__date">
                                18.03.2022 17:10
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__owner-name">
                                fedor
                            </div>

                            <div class="message__content">
                                anjefknaefjaeaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            </div>

                            <div class="message__date">
                                18.03.2022 17:10
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__owner-name">
                                fedor
                            </div>

                            <div class="message__content">
                                anjefknaefjaeaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            </div>

                            <div class="message__date">
                                18.03.2022 17:10
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__owner-name">
                                fedor
                            </div>

                            <div class="message__content">
                                anjefknaefjaeaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            </div>

                            <div class="message__date">
                                18.03.2022 17:10
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__owner-name">
                                fedor
                            </div>

                            <div class="message__content">
                                anjefknaefjaeaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            </div>

                            <div class="message__date">
                                18.03.2022 17:10
                            </div>
                        </div>

                    </section>

                    <form class="message-line messenger-chat__message-line">
                        <input
                                type="text"
                                class="message-line__input"
                                placeholder="Write message..."
                        >
                        <button
                                type="submit"
                                class="message-line__button"
                        >
                            Send
                        </button>
                    </form>


                </section>

            </div>


        </main>

    </div>

</body>
</html>