<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/index.css" type="text/css">
    <script src="../scripts/register.js" type="module"></script>
</head>
<body>

    <div class="page">

        <header class="headline page__header">

            <span class="headline__logo-text">Messenger</span>

            <div class="headline__auth">
                <a class="auth-button _sign-in" href="login.page.html">Sign In</a>
                <a class="go-back-button" href="main.page.html">Go back</a>
            </div>

        </header>

        <main class="page__auth-form">

            <form class="auth-form">

                <span class="auth-form__title">Sign up</span>

                <div class="auth-form__input-field input-field">
                    <input
                            type="text" id="username" class="input-field__input" placeholder=" "
                            required
                            pattern="[a-zA-Z0-9]{0,32}"
                            minlength="3"
                            maxlength="33"
                    >
                    <label for="username" class="input-field__label">
                        Username
                    </label>
                </div>

                <div class="auth-form__input-field input-field">
                    <input
                            type="text" id="name" class="input-field__input" placeholder=" "
                            required
                            minlength="3"
                            maxlength="64"
                            pattern="^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$"
                    >
                    <label for="name" class="input-field__label">
                        Name
                    </label>
                </div>

                <div class="auth-form__input-field input-field">
                    <input
                            type="password" id="password" class="input-field__input" placeholder=" "
                            required
                            minlength="8"
                            maxlength="41"
                            pattern=".{0,40}"
                    >
                    <label for="password" class="input-field__label">
                        Password
                    </label>
                </div>



                <button class="auth-form__submit submit-button">
                    Sign Up
                </button>

            </form>

        </main>
    </div>

</body>
</html>